Repository djnovin/service-nsw: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

Updated Legal File
  .github/workflows/pipeline.yml
Due: none

Simplify Pipeline
  .github/workflows/pipeline.yml
Due: none

Reverted To Original
  .github/workflows/pipeline.yml
Due: none

Fixed Eslint
  .github/workflows/pipeline.yml
  package.json
Due: prettier --write

Changes
  .github/workflows/pipeline.yml
Due: none

Configured Lint Staged
  .lintstagedrc.json
Due: prettier --write

Fixed Build Errors
  src/components/Card.stories.tsx
  src/components/Icons.tsx
  src/components/Section.stories.tsx
  src/data/index.tsx
  src/types/index.ts
Due: prettier --write, eslint --fix

Added Empty Dockerfile
  Dockerfile
Due: none

Added Build Step
  .github/workflows/pipeline.yml
Due: none

Added Dockerfile
  Dockerfile
Due: none

Fixed Build Step in Pipeline
  .github/workflows/pipeline.yml
Due: none

Fix Duplicate Steps
  .github/workflows/pipeline.yml
Due: none

Added Docker Ignore
  .dockerignore
Due: none

Added Azure Provisioning CI Step
  .github/workflows/pipeline.yml
Due: none

Fixed Pipeline
  .github/workflows/pipeline.yml
Due: none

Added bicep file
  .github/workflows/pipeline.yml
  .nvmrc
  main.bicep
Due: none

Migrated to Bun
  .github/workflows/pipeline.yml
  bun.lockb
  bunfig.toml
  package.json
  pnpm-lock.yaml
Due: prettier --write

Fixed Bun Install Hanging
  .github/workflows/pipeline.yml
  bun.lockb
  package.json
Due: prettier --write

Added Variable to Pipeline
  .github/workflows/pipeline.yml
Due: none

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,json,md,css,scss}
  eslint --fix: any of: *.ts
